<div style="display: flex; justify-content: space-between;">

<div class="preview__envato-logo">
    <img src="assets/img/logo (2).png" alt="...">
</div>

<div id="js-preview__actions" class="preview__actions">
<div class="preview__action--buy">
  <a class="header-buy-now e-btn--3d -color-primary" href="https://themeforest.net/checkout/from_item/21198258?license=regular&amp;support=bundle_6month">Buy now</a>
</div>
</div>
</div>

<div class="nav">
<div class="topnav">
<a class="active" href="#home">All Categories</a>
<a href="#news">Home</a>
<a href="#contact">Products</a>
<a href="#about">About Us</a>
<a href="#about"> Contact Us</a>
</div>
<div class="topnav1">
<a href="#contact">Search</a>
</div>
</div>


<header class="masthead">
<div class="container">
    <div class="masthead-subheading">
        <h1 >Best Collection For</h1>
        <h1 class="">Home Decoration</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusantium perspiciatis, sapiente magni eos dolorum ex quos</p>
        <div class="d-flex flex-column flex-sm-row">
            <a class="btn btn-lg btn-primary fw-500 me-sm-3 mb-3 mb-sm-0" href="#explore">
                Explore Pages
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ms-2"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            </a>
            <a class="btn btn-lg btn-primary-soft text-primary fw-500" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart" target="_blank">Documentation</a>
        </div>
    </div>
</div>
</header>

<section class="page-section" id="services">
<div class="container">

    <div class="row text-center d-flex">
        <div class="small-card">
            <span class="fa-stack fa-4x">
                <i class="fas fa-shipping-fast"></i>
            </span>
            <h4 class="my-3">Free Shipping</h4>
            <span class="text-muted">Order over $200</span>
        </div>
        <div class="small-card">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
               
            </span>
            <h4 class="my-3">Money Rturns</h4>
            <p class="text-muted">30 days money returs</p>
        </div>
        <div class=" small-card">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
            </span>
            <h4 class="my-3">24/7 Support</h4>
            <p class="text-muted">Customer support</p>
        </div>
    </div>
</div>
</section>
